ahk==1.7.6
ahk-binary==2023.9.0
aiofiles==24.1.0
aiogram==2.25.1
aiohappyeyeballs==2.4.0
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.7.0
async-timeout==4.0.3
attrs==24.2.0
Babel==2.9.1
certifi==2024.8.30
charset-normalizer==3.3.2
frozenlist==1.4.1
idna==3.8
Jinja2==3.1.4
magic-filter==1.0.12
MarkupSafe==2.1.5
MouseInfo==0.1.3
multidict==6.1.0
pillow==10.3.0
PyAutoGUI==0.9.54
pydantic==2.9.2
pydantic_core==2.23.4
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pyTelegramBotAPI==4.22.1
pytweening==1.2.0
pytz==2024.2
requests==2.32.3
telebot==0.0.5
typing_extensions==4.12.2
urllib3==2.2.2
yarl==1.11.1
